
<div> 
<form action="/" method="POST">
    <label for="broadcaster">Broadcaster: </label>
    <input type="text" name="broadcaster" class="input">
    <br>
    <label for="title">News title: </label>
    <input type="text" name="title" class="input">
    <br>
    <input type="submit" value="send" id="submit">
</form>
</div>

{{#each data}}
{{#each this}}
{{#each this}}
<p>{{@key}} : {{this}}</p>
{{/each}}
{{/each}}
{{/each}}
